/* Admin dashboard */
.admin-link {
	border: #ccc 1px solid; 
	border-radius: 10px; 
	padding: 20px 10px; 
	text-align: center; 
	width: 100px;
	float: left;
	margin-bottom: 20px;
	margin-right: 10px;
}
.admin-link h4 {
	height: 60px;
}
.admin-link:hover {
	border: #9EEB62 1px solid;
}