.dice-roll-dice {
	margin-top: 20px;
	display: block;
	float: none;
}
.dice-sprite {
	background-image: url(../img/dice/_sprite_dice.png); 
	width: 64px; 
	height: 64px;
	display: inline-block;
}
.dice-sprite-1 { background-position: 0 0; }
.dice-sprite-2 { background-position: -64px 0; }
.dice-sprite-3 { background-position: 64px 0; }
.dice-sprite-4 { background-position: 0 64px; }
.dice-sprite-5 { background-position: -64px -64px; }
.dice-sprite-6 { background-position: 64px 64px; }